
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ///////////Navbar Design/////////////////// */

.navbar-brand {
    font-weight: 800;
    font-size: 30px;
    font-family: 'Amaranth', sans-serif;
    color: #323639;
}
.navbar-brand>span{
    font-size: 35px;
    color: #95103B;
}

#signupButton{
    color: #323639;
    border: 1px solid #95103B;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#signupButton:hover{
    background-color: #95103B;
    color: #ffff;
}
#loginButton{
    color: #323639;
    margin-left: 10px;
    border:  1px solid #95103B;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#loginButton:hover{
    background-color: #95103B;
    color: #ffff;
}

/* /////////// END of Navbar Design/////////////////// */